@import 'tailwindcss';
@theme {
  /* Neutral Colors */
  --color-neutral-0: #FFFFFF;
  --color-neutral-50: #F9F7F5;
  --color-neutral-100: #F5F3F0;
  --color-neutral-200: #E6E4E1;
  --color-neutral-300: #D9D8D5;
  --color-neutral-400: #ABAAA8;
  --color-neutral-500: #757473;
  --color-neutral-600: #525150;
  --color-neutral-700: #403F3E;
  --color-neutral-800: #292928;
  --color-neutral-900: #292928;
  /* Green Colors */
  --color-green-50: #EDFAEB;
  --color-green-100: #D4F3CF;
  --color-green-200: #BBEBB2;
  --color-green-300: #8AD97C;
  --color-green-400: #65C754;
  --color-green-500: #48AC36;
  --color-green-600: #368727;
  --color-green-700: #1E6F1D;
  --color-green-800: #0F5319;
  --color-green-900: #0F5319;
  /* Blue Colors */
  --color-blue-50: #F5FAFF;
  --color-blue-100: #DAEBFF;
  --color-blue-200: #B8D9FF;
  --color-blue-300: #8CC1FD;
  --color-blue-400: #60A5FA;
  --color-blue-500: #3880F3;
  --color-blue-600: #3266E0;
  --color-blue-700: #2751C2;
  --color-blue-800: #1D3986;
  --color-blue-900: #1D3986;
  /* Purple Colors */
  --color-purple-50: #F7EFFF;
  --color-purple-100: #EFE1FF;
  --color-purple-200: #E1CAFC;
  --color-purple-300: #D4B3FB;
  --color-purple-400: #C293F9;
  --color-purple-500: #AB6AF7;
  --color-purple-600: #9747F6;
  --color-purple-700: #7232BA;
  --color-purple-800: #5B2C8F;
  --color-purple-900: #5B2C8F;
  /* Gold Colors */
  --color-gold-50: #FBFAF3;
  --color-gold-100: #F7F4E4;
  --color-gold-200: #EEE7C4;
  --color-gold-300: #E2D698;
  --color-gold-400: #DBCA72;
  --color-gold-500: #CCAE39;
  --color-gold-600: #B59207;
  --color-gold-700: #997E05;
  --color-gold-800: #877300;
  --color-gold-900: #877300;
  /* Red Colors */
  --color-red-50: #FFF1F1;
  --color-red-100: #FFE0E0;
  --color-red-200: #FFC7C7;
  --color-red-300: #FF9F9F;
  --color-red-400: #FF6868;
  --color-red-500: #FA3939;
  --color-red-600: #DC1616;
  --color-red-700: #C31212;
  --color-red-800: #A11313;
  --color-red-900: #A11313;
  /* Orange Colors */
  --color-orange-50: #FFF8ED;
  --color-orange-100: #FFF0D4;
  --color-orange-200: #FFDDA8;
  --color-orange-300: #FFC371;
  --color-orange-400: #FF9F37;
  --color-orange-500: #FF8210;
  --color-orange-600: #DE5E06;
  --color-orange-700: #C74B07;
  --color-orange-800: #9D3B0F;
  --color-orange-900: #9D3B0F;
  /* Yellow Colors */
  --color-yellow-50: #FFFCEA;
  --color-yellow-100: #FFF6C6;
  --color-yellow-200: #FFED87;
  --color-yellow-300: #FFDC49;
  --color-yellow-400: #FFCA1F;
  --color-yellow-500: #F1A204;
  --color-yellow-600: #DE8001;
  --color-yellow-700: #B85905;
  --color-yellow-800: #95440B;
  --color-yellow-900: #95440B;
  /* Aqua Colors */
  --color-aqua-50: #F2FFFC;
  --color-aqua-100: #C7FFF1;
  --color-aqua-200: #90FFE3;
  --color-aqua-300: #51F7D5;
  --color-aqua-400: #1DE4CA;
  --color-aqua-500: #04C8A8;
  --color-aqua-600: #009681;
  --color-aqua-700: #058070;
  --color-aqua-800: #0A655A;
  --color-aqua-900: #0A655A;
  /* Cobalt Colors */
  --color-cobalt-50: #F5FDFF;
  --color-cobalt-100: #E3F8FF;
  --color-cobalt-200: #CCF0FF;
  --color-cobalt-300: #A3E2FF;
  --color-cobalt-400: #74D5FC;
  --color-cobalt-500: #29BBF7;
  --color-cobalt-600: #0799D9;
  --color-cobalt-700: #047CB8;
  --color-cobalt-800: #075A85;
  --color-cobalt-900: #075A85;
  /* Pink Colors */
  --color-pink-50: #FFF5FE;
  --color-pink-100: #FFDEFC;
  --color-pink-200: #FEC2F9;
  --color-pink-300: #FE98F5;
  --color-pink-400: #FD67F1;
  --color-pink-500: #FD27E5;
  --color-pink-600: #E520C6;
  --color-pink-700: #C318A0;
  --color-pink-800: #981077;
  --color-pink-900: #981077;
}
